# ignore raw data
GameParams.data

# python files
__pycache__

# ignore outputs
GameParam*.json
*.json
!bot_config.json.example

split
content/
langs/
gui/
spaces/
assets/
crashes/

# environment
.env/
game.path
bot_config.json

# pyinstaller
dist/
build/
*.spec
hidden-*.txt
search.txt

# setup.cfg
*.egg-info/
